<div class="{{getModeForContainer()}}" >
<div id="canvas" >
    <canvas (click)="addPointFromCanvas()" #canvas width="300" height="300" > </canvas>
  </div>
<div id="form" >
  <form id="formId" (ngSubmit)="y.checkValidity() && addPoint()" #f="ngForm" novalidate>

    <div class="formdiv"> <label id="x_select">{{getMode()==='mobile'?'X:':'Координата X:'}} <br *ngIf="getMode()!=='mobile'">
        <select #x (change)="setX(x.value)" >
        <option  value="-3"> -3 </option>
        <option  value="-2"> -2 </option>
        <option  value="-1"> -1 </option>
        <option  value="0" selected>  0  </option>
        <option  value="1">  1  </option>
        <option  value="2">  2  </option>
        <option  value="3">  3  </option>
        <option  value="4">  4  </option>
        <option  value="5">  5  </option>
      </select ></label>
    </div>
     <div class="formdiv"><label id="y_select">{{getMode()==='mobile'?'Y:':'Координата Y:'}} <br *ngIf="getMode()!=='mobile'">
        <input (invalid)="error('Значение Y не введено или некорректно')" pattern='^-?[0-2]([.,]\d+)?$'  #y (change)="setY(y.value)" required   id="y" name="y"   type="text"   placeholder="(-3; 3)">  </label>
</div>
    <div class="formdiv">   <label id="r_select">{{getMode()==='mobile'?'R:':'Радиус R:'}}<br *ngIf="getMode()!=='mobile'">
        <select #r (change)="drawGraphic($event.target.value);"    name="r" [(ngModel)]="point.r" >
          <option  value="-3" > -3 </option>
          <option  value="-2" > -2 </option>
          <option  value="-1" > -1 </option>
          <option  value="0" >  0  </option>
          <option  value="1" >  1  </option>
          <option  value="2">  2  </option>
          <option  value="3" selected>  3  </option>
          <option  value="4">  4  </option>
          <option  value="5">  5  </option>
        </select></label>
</div>
    <div class=" warndiv">
        <span  *ngIf="errorMessage"> {{errorMessage}}</span>
</div>
    <div class="bdiv">
      <button name="Отправить" type="submit" align="center">
        Отправить
      </button>
</div>
</form>
</div>
</div>
